@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ededed;
  --foreground: #202020;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #202020;
  }
}

body, html {
  color: var(--foreground);
  background: var(--background);
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  overflow: hidden;
}


.title {
  font-size: 5em;
  font-family: 'Bree Serif', serif;
  color: #202020;
  text-shadow: 
    0.5px 0.5px 0 #FFD392, 
    1.5px 1.5px 0 #FFD392, 
    2.5px 2.5px 0 #FFD392, 
    3.5px 3.5px 0 #FFD392, 
    4.5px 4.5px 0 #FFD392;
  position: absolute;
  top: 45%;
  left: 50%;
  text-align: center;
}

.background {
  background: #f0f0f5;
  background-image: -webkit-radial-gradient(top, circle cover, #ffffff 0%, #d0d0d5 80%);
  background-image: -moz-radial-gradient(top, circle cover, #ffffff 0%, #d0d0d5 80%);
  background-image: -o-radial-gradient(top, circle cover, #ffffff 0%, #d0d0d5 80%);
  background-image: radial-gradient(top, circle cover, #ffffff 0%, #d0d0d5 80%);
  overflow: auto;
}

.background-3 {
  width: 100%;
  height: 100%;
  background: #f0f0f5;
  background-image: -webkit-radial-gradient(top, circle cover, #ffffff 0%, #f0f0f5 80%);
  background-image: -moz-radial-gradient(top, circle cover, #ffffff 0%, #f0f0f5 80%);
  background-image: -o-radial-gradient(top, circle cover, #ffffff 0%, #f0f0f5 80%);
  background-image: radial-gradient(top, circle cover, #ffffff 0%, #f0f0f5 80%);
  overflow: auto;
}

.logotext {
  font-family: 'Bree Serif', serif;
  color: #202020;
  text-shadow: 
    0.0px 0.0px 0 #FFD392, 
    0.3px 0.3px 0 #FFD392, 
    0.6px 0.6px 0 #FFD392, 
    0.9px 0.9px 0 #FFD392, 
    1.2px 1.2px 0 #FFD392;
}

.start_button {
  background-color: #202020;
  color: #FFD392;
  font-size: 1.2em;
  font-family: 'Bree Serif', serif;
  border-radius: 10px;
  box-shadow: 
    0.8px 0.8px 0 #FFD392, 
    1.1px 1.1px 0 #FFD392, 
    1.4px 1.4px 0 #FFD392, 
    1.7px 1.7px 0 #FFD392,
    2.1px 2.1px 0 #FFD392;
}

.startscroll {
  font-size: 1.5em;
  font-family: 'Bree Serif', serif;
  color: #202020;
  position: absolute;
  top: 65%;
  left: 39.0%;
  text-align: center;
  text-shadow: 
    0.2px 0.2px 0 #FFD392,
    0.4px 0.4px 0 #FFD392,
    0.6px 0.6px 0 #FFD392,
    0.8px 0.8px 0 #FFD392,
    1.0px 1.0px 0 #FFD392;
}

.ticker-container {
  position: absolute;
  top: 19.28%;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.ticker-container-2 {
  position: absolute;
  top: 81.28%;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.ticker-container-5 {
  position: absolute;
  top: 80.28%;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.ticker-container-6 {
  position: absolute;
  top: 0.5%;
  width: 100%;
  overflow: hidden;
  z-index: 0;
  white-space: nowrap;
}

.calendar {
  width: 18%;
  height: auto;
  background: #202020;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Bree Serif', serif;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 22.5%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  left: 10%;
  border-radius: 10px;
}

.tags-label {
  position: absolute;
  margin-left: 1%;
  top: 50%;
  font-family: 'Bree Serif', serif;
  z-index: 9998;
  text-shadow:
    0.2px 0.2px 0 #FFD392,
    0.4px 0.4px 0 #FFD392,
    0.6px 0.6px 0 #FFD392,
    0.8px 0.8px 0 #FFD392,
    1.0px 1.0px 0 #FFD392;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 1fr;
  gap: 5px;
  background: transparent;
  padding: 10px;
  box-sizing: border-box;
}

.calendar-day {
  color: #202020;
  background: transparent;
  text-align: center;
  width: 100%;
  font-size: 1.0em;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  border-radius: 5px;
  height: 100%; 
  margin-top: 4px;
  cursor: pointer;
}

.calendar-day-header {
  background: #FFD392;
  color: #202020;
  text-align: center;
  padding: 5px;
  font-size: 0.9em;
}

.calendar-day.accent {
  background: #FFD392 !important;
  color: #202020 !important;
  font-weight: bold;
}

.calendar-arrow {
  background: none;
  border: none;
  color: #202020;
  font-size: 1.0em;
}

.calendar-day:hover {
  background: #d9d9d9;
  color: #202020;
}

.calendar-day.previous-month {
  color: #20202066;
}

.calendar-day.next-month {
  color: #20202066;
}

.calendar-day.empty {
  background: #e1e1e1;
}

.rotate-90 {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.ticker-container-3 {
  position: absolute;
  top: 85.28%;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.ticker-container-4 {
  position: absolute;
  top: 75.28%;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.ticker {
  display: inline-block;
  white-space: nowrap;
  animation: ticker 30s linear infinite;
}

.ticker-reverse {
  display: inline-block;
  white-space: nowrap;
  animation: ticker-reverse 30s linear infinite;
}

.ticker span{
  display: inline-block;
  padding-right: 2rem;
  font-size: 1.0em;
  font-family: 'Bree Serif', serif;
  text-shadow: 
    0.2px 0.2px 0 #FFD392,
    0.4px 0.4px 0 #FFD392,
    0.6px 0.6px 0 #FFD392,
    0.8px 0.8px 0 #FFD392,
    1.0px 1.0px 0 #FFD392;
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes ticker-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.clicker{
  animation: clicker 2s infinite;
}

@keyframes clicker {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.diagonal-line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #ffd392 0%, #ffb347 100%);
  clip-path: polygon(0 0, 70% 0, 0 100%);
}

.straight-line {
  position: relative;
}

.straight-line::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
  background: #e7e7e7f6;
  z-index: 1;
  border-color: #ffd392;
}

.background-2 {
  background: #f0f0f5;
  background-image: -webkit-radial-gradient(top, circle cover, #ffffff 0%, #f0f0f5 80%);
  background-image: -moz-radial-gradient(top, circle cover, #ffffff 0%, #f0f0f5 80%);
  background-image: -o-radial-gradient(top, circle cover, #ffffff 0%, #f0f0f5 80%);
  background-image: radial-gradient(top, circle cover, #ffffff 0%, #f0f0f5 80%);
  overflow: auto;
}

.title-2 {
  font-size: 5em;
  font-family: 'Bree Serif', serif;
  color: #202020;
  text-shadow: 
    0.5px 0.5px 0 #FFD392, 
    1.5px 1.5px 0 #FFD392, 
    2.5px 2.5px 0 #FFD392, 
    3.5px 3.5px 0 #FFD392, 
    4.5px 4.5px 0 #FFD392;
  position: absolute;
  top: 3%;
  left: 73%;
  text-align: center;
}

.title-3 {
  font-size: 3em;
  font-family: 'Bree Serif', serif;
  color: #202020;
  text-shadow: 
    0.5px 0.5px 0 #FFD392, 
    1.5px 1.5px 0 #FFD392, 
    2.5px 2.5px 0 #FFD392, 
    3.5px 3.5px 0 #FFD392, 
    4.5px 4.5px 0 #FFD392;
  position: relative;
  text-align: center;
}

.google-form-container {
  position: absolute;
  top: 30%;
  left: 65%;
}

.gh_btn {
  position: absolute;
  top: 28%;
  left: 60%;
  background-color: #333333;
}

.go_btn {
  position: absolute;
  top: 38%;
  left: 60%;
  border-width: 2px;
  border-color: #202020;
}

.guest_btn {
  position: absolute;
  top: 50.5%;
  left: 60%;
  color: #FFD392;
  background-color: #333333;
  box-shadow: 
    1.4px 1.4px 0 #FFD392, 
    1.7px 1.7px 0 #FFD392,
    2.1px 2.1px 0 #FFD392,
    2.4px 2.4px 0 #FFD392,
    2.8px 2.8px 0 #FFD392;
}

.watermark {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.0em;
  font-family: 'Bree Serif', serif;
  text-shadow: 
    0.2px 0.2px 0 #FFD392,
    0.4px 0.4px 0 #FFD392,
    0.6px 0.6px 0 #FFD392,
    0.8px 0.8px 0 #FFD392,
    1.0px 1.0px 0 #FFD392;
}

.sign-log {
  position: absolute;
  top: 65%;
  left: 75%;
  transform: translate(-50%, -50%);
  font-size: 1.0em;
  font-family: 'Bree Serif', serif;
  text-shadow: 
    0.2px 0.2px 0 #FFD392,
    0.4px 0.4px 0 #FFD392,
    0.6px 0.6px 0 #FFD392,
    0.8px 0.8px 0 #FFD392,
    1.0px 1.0px 0 #FFD392;
}

.selection_row {
  display: flex;
  gap: 1rem;
  justify-content: center;
  position: relative;
}

.new_task_btn-1 {
  font-size: 1rem;
  font-family: "Bree Serif", serif;
  border: 1px solid var(--foreground);
  border-radius: 5px;
  background-color: transparent;
  color: var(--foreground);
  box-shadow: 
    1.4px 1.4px 0 #FFD392, 
    1.7px 1.7px 0 #FFD392,
    2.1px 2.1px 0 #FFD392,
    2.4px 2.4px 0 #FFD392,
    2.8px 2.8px 0 #FFD392;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: relative;
}

.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin: 0 auto;
  padding-top: 1rem;
  position: absolute;
  top: 1.75%;
  left: 22%;
}

.button_content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}


.new_task_btn-2 {
  font-size: 1rem;
  font-family: "Bree Serif", serif;
  border: 1px solid var(--foreground);
  border-radius: 5px;
  background-color: transparent;
  color: var(--foreground);
  box-shadow: 
    1.4px 1.4px 0 #FFD392, 
    1.7px 1.7px 0 #FFD392,
    2.1px 2.1px 0 #FFD392,
    2.4px 2.4px 0 #FFD392,
    2.8px 2.8px 0 #FFD392;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transform: translate(-50%, -50%);
  top: 43.5%;
  left: 10%;
  position: absolute;
  z-index: 9998;
}

.dropdown {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  font-family: "Bree Serif", serif;
  border: 1px solid var(--foreground);
  border-radius: 5px;
  background-color: transparent;
  color: var(--foreground);
  box-shadow: 
    1.4px 1.4px 0 #FFD392, 
    1.7px 1.7px 0 #FFD392,
    2.1px 2.1px 0 #FFD392,
    2.4px 2.4px 0 #FFD392,
    2.8px 2.8px 0 #FFD392;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.today_btn {
  font-size: 1rem;
  font-family: "Bree Serif", serif;
  border: 1px solid var(--foreground);
  border-radius: 5px;
  background-color: transparent;
  color: var(--foreground);
  box-shadow: 
    1.4px 1.4px 0 #FFD392, 
    1.7px 1.7px 0 #FFD392,
    2.1px 2.1px 0 #FFD392,
    2.4px 2.4px 0 #FFD392,
    2.8px 2.8px 0 #FFD392;
  padding-left: 1rem;
  padding-right: 1rem;
}

.calendar-day.highlight {
    background: #d9d9d9;
    color: #202020;
}

.tags-container {
  position: fixed;
  top: 53%;
  left: 10%;
  z-index: 9998;
  transform: translateX(-50%);
  width: 200px;
}

.tag-name {
  color: #000;
}

.tag {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  color: #fff;
  font-family: "Bree Serif", serif;
  cursor: default;
}

.tag::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  box-shadow: 
    0.4px 0.4px 0 #FFD392, 
    0.7px 0.7px 0 #FFD392,
    1.1px 1.1px 0 #FFD392,
    1.4px 1.4px 0 #FFD392,
    1.7px 1.7px 0 #FFD392;
  margin-right: 0;
  background-color: currentColor;
}

.delete-tag {
  background: none;
  border: none;
  color: #202020;
  cursor: pointer;
  display: none;
}

.tag:hover .delete-tag {
  display: inline;
}

.add-tag-btn {
  margin-top: 1rem;
  color: #fff;
  cursor: pointer;
  position: absolute;
  left: 7%;
  z-index: 9998;
  top: 78%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  font-family: "Bree Serif", serif;
  border: 1px solid var(--foreground);
  border-radius: 5px;
  background-color: transparent;
  color: var(--foreground);
  box-shadow: 
    1.4px 1.4px 0 #FFD392, 
    1.7px 1.7px 0 #FFD392,
    2.1px 2.1px 0 #FFD392,
    2.4px 2.4px 0 #FFD392,
    2.8px 2.8px 0 #FFD392;
}

.add-tag-btn:disabled {
  background-image: repeating-linear-gradient(
    45deg,
    rgba(32, 32, 32, 0.2) 0,
    rgba(32, 32, 32, 0.2) 3px,
    transparent 3px,
    transparent 15px
  );
  cursor: not-allowed;
  display: none;
}

.thin-line {
  border: none;
  border-top: 5px solid #202020;
  box-shadow: 
    1.4px 1.4px 0 #FFD392, 
    1.7px 1.7px 0 #FFD392,
    2.1px 2.1px 0 #FFD392,
    2.4px 2.4px 0 #FFD392,
    2.8px 2.8px 0 #FFD392;
  margin: 1rem 0;
  width: 18%;
  position: absolute;
  z-index: 9998;
  left: 1%;
  top: 80%;
  border-radius: 5px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 30%;
  background-color: #f9f9fb;
  box-shadow: 
    1.4px 1.4px 0 #FFD392, 
    1.7px 1.7px 0 #FFD392,
    2.1px 2.1px 0 #FFD392,
    2.4px 2.4px 0 #FFD392,
    2.8px 2.8px 0 #FFD392;
  border: 1px solid var(--foreground);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 10px;
  z-index: 10000;
}

.popup input[type="text"],
.popup input[type="color"] {
  width: 80%;
  padding: 0.5rem;
  border: 1px solid var(--foreground);
  border-radius: 5px;
  font-family: 'Bree Serif', serif;
  box-shadow: 1.4px 1.4px 0 #FFD392;
}

.popup input[type="date"],
.popup input[type="time"],
.tag-input {
  font-family: 'Bree Serif', serif;
}

.input-label {
  font-family: 'Bree Serif', serif;
}

.popup-view-button {
  position: absolute;
  bottom: 5%;
  font-family: 'Bree Serif', serif;
}

.blur-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 9999;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #202020;
}

.popup-submit-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--foreground);
  color: #FFD392;
  font-family: 'Bree Serif', serif;
  cursor: pointer;
  box-shadow: 1.4px 1.4px 0 #FFD392;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.time-left-widget {
  width: 18%;
  height: auto;
  position: absolute;
  z-index: 9998;
  background-color: transparent;
  box-shadow: 1.4px 1.4px 0 #FFD392, 1.7px 1.7px 0 #FFD392, 2.1px 2.1px 0 #FFD392, 2.4px 2.4px 0 #FFD392, 2.8px 2.8px 0 #FFD392;
  border-radius: 10px;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  left: 1%;
  border: 1px solid var(--foreground);
}

.time-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.time-bar span {
  font-family: "Bree Serif", serif;
  color: #202020;
  text-shadow: 0.2px 0.2px 0 #FFD392, 0.4px 0.4px 0 #FFD392, 0.6px 0.6px 0 #FFD392, 0.8px 0.8px 0 #FFD392, 1.0px 1.0px 0 #FFD392;
  width: 40px;
}

.bar {
  flex-grow: 1;
  height: 1rem;
  background-color: #d8d8d8;
  border-radius: 5px;
  overflow: hidden;
}

.fill {
  height: 100%;
  background-color: #FFD392;
  border-radius: 5px;
  transition: width 0.5s;
}

.time-slot {
  flex: 0 0 calc(100% / 10);
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  font-family: "Bree Serif", serif;
  font-size: 1rem;
  z-index: 1;
  color: var(--foreground);
  height: calc(100% / 10);
}

.time-slot .period {
  font-size: 0.75rem;
  margin-left: 0.25rem;
  height: 23%;
}

.current-time-line {
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #FFD392;
  z-index: 2;
}

.time-slot:last-child {
  border-bottom: none;
}

.task-popup {
  height: 50%;
  overflow-y: auto;
  scrollbar-width: none;
}

.duration{
  width: 50% !important;
}

.scroll-content {
  text-align: center;
  font-family: 'Bree Serif', serif;
  color: #202020;
}

.week-divider {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: var(--foreground);
  z-index: 1;
  box-shadow: 
    0.5px 0.5px 0 #FFD392;
}

.schedule-container {
  width: 77.5%;
  height: 82.5%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--foreground);
  border-radius: 5px;
  scrollbar-width: none ;
  box-shadow: 
    6.4px 6.4px 0 #FFD392;
  background-color: #f9f9fb;
  left: 21.25%;
  top: 14.5%;
  position: absolute;
  z-index: 1;
}

.tabs-container {
  position: absolute;
  top: 13.5%;
  left: 33.58%;
  width: 77.5%;
  display: flex;
  justify-content: space-between;
  z-index: 0;
}

.tabs {
  position: absolute;
  background-color: transparent;
  transform: translateX(-50%);
  color: #202020;
  z-index: 0;
  border: 1px solid var(--foreground);
  border-radius: 5px;
  padding: 0.3rem 2rem;
  font-family: 'Bree Serif', serif;
  text-align: center;
  box-shadow: 
        2.4px 0 0 #FFD392;
}

